html {
    font-family:'CuteFont';
    font-size:18px;
    color:#124375;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.486);
    background-blend-mode: overlay;
    background-image:url("images/blue-plaid.webp");
    padding:10px;
    image-rendering:pixelated;
    cursor: url('https://rice.nekoweb.org/toroinoue.ico'), auto;
}

@font-face {
  font-family: 'CuteFont';       /* Name you’ll use in CSS */
  src: url('fonts/Mochibop-Demo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.container {
    width:600px;
    margin:0 auto;
    position:relative;
    
}

.header {
    margin-right: 40px;
    font-family:'CuteFont';
    font-size:90px;
    text-align:center;
    color:#124375;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
    filter: drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 1px white)
        drop-shadow(0px 0px 1px white) drop-shadow(0px 0px 1px white)
        drop-shadow(0px 0px 1px white) drop-shadow(1px 1px 0px #0000004d);
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;

    animation: bounce 1s ease infinite;
}

@keyframes bounce {
  0%   { transform: translateY(0); }
  25%  { transform: translateY(-10px); }
  50%  { transform: translateY(0); }
  75%  { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}

.main {
    margin:0 auto;
    border-radius:10px;
    padding:15px;
    background-image: url("images/blue-plaid-diag.webp");
    
}

.mainbox {
    width:100%;
    background-color: white;
    padding:0px;
    padding-bottom: 5px;
    box-sizing: border-box;
    border-radius: 10px;
    border:2px dashed #7babde;
    overflow: hidden;
}

.tooltip-follow {
  position: absolute;
  pointer-events: none;
  background-color: #6c63ff;
  color: white;
  padding: 6px 10px;
  border-radius: 8px;
  font-size: 0.9rem;
  white-space: nowrap;
  display: none;
  z-index: 1000;
}

.neon {
  background-color: #fff;
  padding: 20px 40px;
  border-radius: 10px;

  /* Drop shadow */
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
}